@import url('https://fonts.font.im/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

body {
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Open Sans';
}

.container {
  background-color: #fff;
  box-shadow: 0 2px 5px #888888;
  border-radius: 5px;
  height: 600px;
  width: 400px;
  padding: 30px;
}

h2 {
  text-align: center;
}

label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  color: gray;
}

.form-control {
  margin-bottom: 20px;
  /* padding-bottom: 10px; */
  width: 100%
}

input {
  outline: 0;
  padding: 5px;
  width: 100%;
  border-radius: 3px;
  height: 40px;
  border: 0.5px solid gainsboro;
}

input:focus {
  border-color: lightblue;
}

input.error {
  border-color: red;
}

input.success {
  border-color: green;
}

small {
  color: red;
  visibility: hidden;
}

small.error {
  visibility: visible;
}

button {
  width: 100%;
  background-color: cornflowerblue;
  color: white;
  border: 0;
  height: 50px;
  border-radius: 5px;
  font-size: 14px;
}