@import url('https://fonts.font.im/css?family=Open+Sans');

:root {
  --success-color: #23cc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  box-shadow: 0 2px 5px #888888;
  border-radius: 5px;
  width: 400px;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.form-control label {
  display: block;
  margin-bottom: 5px;
  color: gray;
}

.form-control input {
  display: block;
  outline: 0;
  padding: 5px;
  width: 100%;
  border-radius: 3px;
  border: 2px solid gainsboro;
  font-size: 14px;
}

.form-control input:focus {
  border-color: lightblue;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

button {
  display: block;
  cursor: pointer;
  width: 100%;
  background-color: cornflowerblue;
  color: white;
  border: 2px solid cornflowerblue;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
}